/*Dashboard*/
@charset "utf-8";
#high-chart{min-width: 310px; height: 310px; margin: 0 auto}
#dashboard{width:90%; float:left;}
.proWrapper, .row, .calendar-entry{width:100%; float:left;}

.calendar{width:100%; margin-top:15px;}
.leftContainer{width:50%; float:left;}
.rightContainer{width:49%; float:left;}
.box{width:24%; float:left;}
.slogan, .slogannew{font-family:segoe ui; text-transform:uppercase; color:#525252; padding-left:3%; }
.slogannew{padding-left:0px;}
.gridcontainer{border:1px solid #d4d3d3; padding:17px !important; width:97%; margin-top:15px; background-color:#ffffff;}
.heading{font-family:segoe ui; text-transform:uppercase; color:#525252; font-size:20pt; padding:20px 0px 0px 20px; float:left;}
.procontainer{width: 90%;background-color:#dddddd;overflow: hidden;display:inline-block;margin:0px 10px 5px 5px;vertical-align:top;}
.progressbar {color: #fff;text-align: right;height: 15px;width: 0;background-color: #0ba1b5; }
.rightContainer{padding-top:8px;}
.pro-crate-container{width: 90%;background-color:#dddddd;overflow: hidden;display:inline-block;margin:0px 10px 5px 5px;vertical-align:top;}
.cprogressbar{color: #fff;text-align: right;height: 15px;width: 0;background-color: #91c93a; }
.proLeft, .proRight{padding:8px;width:40%;float:left;font-family:segoe ui; text-transform:uppercase;}
.proRight div{text-align:right; padding-right:15%;}
.ORateper{color:#4379ea;font-weight:bold;}
.cRateper{color:#70a917;font-weight:bold;}
.row{padding:3px 0px 3px 0px;}
.calendar_left{width:30% ; float:left;padding:5px 0px 5px 15px; background-color:#ffffff }
.calendar_right{width:65%; float:right;padding:15px 0px 10px 0px;font-family:segoe ui; font-size:12pt; }

.month, .event, .title{font-family:segoe ui;}




.month{font-size:13pt; font-weight:bold; clear:both; line-height:15px;}
.event{font-size:16pt;}
.calendar-entry{border-bottom:1px solid #cecece; }
.title{font-weight:bold; font-size:14pt !important; padding-left:25px; color:#333; }
.grey{background-color:#ededed;}
.pyellow{background-color:#f7eb89;}
.lgreen{background-color:#c1ee7a;}
.blue{border-left:6px solid #42abfb;}
.orange{border-left:6px solid #ff5e2e;}
.green{border-left:6px solid #71b605;}
.gridLeft{width:60%; float:left;}
.gridRight{width:38%; float:right;}

.grid, .tblrow{width:100%; float:left;}
.header{ background-color:#b1cfe6;}
.tblrow{display:table-row;}

.cola, .colb, .colc, .cold{display:table-cell; font-family:segoe ui; padding:5px; color:#696969;}
.cola{width:50%; float:left;}
.colb{width:14%; float:left;}
.colc{width:14%;float:left;}
.cold{width:14%;float:left;}


/* Media Queries  */
@media only screen 
and (max-width : 900px) {
	.leftContainer, .rightContainer, .gridLeft, .gridRight{width:100%; clear:both;}
	.calendar{width:102%;}
	.calendar_right{padding-top:0px;}

	}
/*Dashboard*/


.width10{width:10%;}
.width20{width:20%;}
.width25{width:25%;}
.width30{width:30%;}
.width35{width:35%;}
.width40{width:40%;}
.width50{width:50%;}
.width60{width:60%;}
.width70{width:70%;}
.width80{width:80%;}
.width90{width:90%;}
.width95{width:95%;}
.width100{width:100%;}

.width10imp{width:10% !important;}
.width15imp{width:15% !important;}
.width20imp{width:20% !important;}
.width30imp{width:30% !important;}
.width40imp{width:40% !important;}
.width50imp{width:50% !important;}
.width60imp{width:60% !important;}
.width70imp{width:70% !important;}
.width80imp{width:80% !important;}
.width90imp{width:90% !important;}
.width100imp{width:100% !important;}

.no-border{border:none !important;}
.float{float:left}

.submit-box-content{padding:10px}
.submit-box h3{padding:10px}

label{font-weight:bold;}
.widefat th{font-weight:bold;}

.margin10{margin:10px}
.margin10imp{margin-left:10px !important}
.stuffbox{margin:10px}

.leftPanel{width:65%;}
@media only screen and (max-width: 799px) {
	.rightPanel{float:none !important;min-width:95%;}
	.leftPanel{float:none !important;width:95%;}
}

.rightPanel .handlediv{	padding-top:12px ;}
.rightPanel .handlediv:before{content: '\25b2';}
.handleclose:before{content: '\25bc';}
.list-item{display:none;word-wrap:break-word;}
.list-item label{word-wrap:break-word;font-weight:normal;}
.list-item  b{font-size:1.05em;font-weight:bold;}

.zest-error{color:red;}
.toClone{border:1px solid #ccc;padding:5px;margin:5px;}
.addCustom, .removeCustom{color:#333;text-decoration:underline;}
.addCustom:hover, .removeCustom:hover{color:#333;text-decoration:none;}